.btn-circle-sm {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 2px 0;
    font-size: 15px;
    line-height: 1;
    border-radius: 30px;
    margin-top: 11px;
    margin-right: 7px;
    margin-left: 12px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

form.ng-submitted .ng-invalid {
    border-color: #FA787E;
}

.transparent {
    background: none;
    border: none;
    box-shadow: none;
}

